# Hand-authored, NOT captured from a live Databricks workspace -- see
# databricks_setup_and_read_schema.yaml's header comment for the conventions this
# follows. Every field/value/URL is typed by hand from
# planning/Research/RS-01-databricks-catalog-api/outputs/databricks-catalog-api-reference.md
# section 1.3 (UC tags have no REST read-back -- only INFORMATION_SCHEMA.SCHEMA_TAGS /
# TABLE_TAGS over the Statement Execution API) and section 3.1 (the Statement Execution
# API itself). No OAuth i[...]
  - request:
      method: POST
      uri: https://contract-vcr.cloud.databricks.com/api/2.0/sql/statements
      body: '{"warehouse_id": "contract-vcr-wh-1", "statement": "SELECT catalog_name, schema_name, tag_name, tag_value FROM `prod`.INFORMATION_SCHEMA.SCHEMA_TAGS WHERE schema_name IN (:s0) ORDER BY schema_name, tag_name", "wait_timeout": "0s", "format": "JSON_ARRAY", "disposition": "INLINE", "parameters": [{"name": "s0", "value": "sales", "type": "STRING"}]}'
      headers:
        content-type: ["application/json"]
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type: ["application/json"]
      body:
        string: '{"statement_id": "contract-vcr-stmt-schema-1", "status": {"state": "PENDING"}}'
  - request:
      method: GET
      uri: https://contract-vcr.cloud.databricks.com/api/2.0/sql/statements/contract-vcr-stmt-schema-1
      body: null
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type: ["application/json"]
      body:
        string: '{"statement_id": "contract-vcr-stmt-schema-1", "status": {"state": "RUNNING"}}'
  - request:
      method: GET
      uri: https://contract-vcr.cloud.databricks.com/api/2.0/sql/statements/contract-vcr-stmt-schema-1
      body: null
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type: ["application/json"]
      body:
        string: '{"statement_id": "contract-vcr-stmt-schema-1", "status": {"state": "SUCCEEDED"}, "result": {"data_array": [["prod", "sales", "team", "data-eng"], ["prod", "sales", "tier", "gold"]]}}'
[...]
  - request:
      method: GET
      uri: https://contract-vcr.cloud.databricks.com/api/2.0/sql/statements/contract-vcr-stmt-table-1
      body: null
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type: ["application/json"]
      body:
        string: '{"statement_id": "contract-vcr-stmt-table-1", "status": {"state": "SUCCEEDED"}, "result": {"data_array": [["prod", "sales", "orders", "pii", "false"]]}}'
